<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Insight Afrca Notes App | Demo by Abdulhakim Haliru</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/main.css"
          th:href="@{main.css}" rel="stylesheet" media="screen"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
    <!--Import jQuery before materialize.js-->

<script type="text/javascript">
    config ={
        baseUrl : window.location.href
    }
    window.config = config;

</script>
</head>
<body>
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons">cloud</i> A Realtime Notes App</a>
            <ul class="right hide-on-med-and-down">

                <li><a th:href="@{/}"><i class="material-icons">view_module</i></a></li>

            </ul>
        </div>
    </nav>
    <p>
    <blockquote>
        A submission by Abdulhakim Haliru to Insight Africa Ltd.
    </blockquote>
    </p>
<div id="react"></div>
    <p>
    <blockquote>
       App Defaults: 3 records/page
    </blockquote>
    </p>
<script src="../static/built/bundle.js" th:src="@{built/bundle.js}"></script>
    </div>
</body>
<script type="text/javascript" th:src="@{jquery-2.1.1.min.js}"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>